.portafolio{
  margin-top: 5rem;
  
}

.card{
  
  background-color: white;
  margin-top: 1rem;
  margin: 0 auto;
}

.tarjeta{
  display: flex;
  width: 50%;
  width: 100%;
  margin-top: 5rem;
}

.btn {
  background-color: blue;
  color: white;
  border-radius: 1rem;
  margin: 0 auto;
}


